body{
    margin: 0;
    background-size: 100% 100%;
    font-family: arial bold;
  }

/* BERANDA code(1) */
/* header 1*/
.header1{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    height: 7vh;
    background-color: white;
    margin-bottom: 10px;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid #89AA3A;
}
.co-logonama1{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logonama1{
    width: 7.1vh;
    height: 5.2vh;
    margin: 0 auto;
}
.co-nav1{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.co-nav1 ul li{
    display: inline-block;
}
.nav1{
    text-decoration: none;
    color:#89AA3A;
    font-size: 0.8rem;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    padding: 1vh 1.8vh;
}
.nav1-active{
    text-decoration: none;
    color: white;
    font-size: 0.7rem;
    margin-left: 1.5vh;
    margin-right: 1.5vh;
    padding: 1vh 1.8vh;
    background-color: #89AA3A;
    border-radius: 1px;
    transition: 0.4s ease;
    border: 1px solid #89AA3A;
}
.nav1-active:hover{
    background: none;
    color: #89AA3A;
    border: 1px solid #89AA3A;
}
.co-logo1{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo1{
    width: 5vh;
    height: 5vh;
}

/* end header1 */

/* body1 */
.background1{
    width: 100%;
    position: relative;
    top: 7vh;
}
.co-content1{
    position: absolute;
    top: 94vh;
    width: 100%;
    height: 38vh;
    display: flex;
    justify-content: center;
}
.content1{
    height: 95%;
    width: 19%;
    background-color: white;
    margin-left: 5vh;
    margin-right: 5vh;
    box-shadow: 0.2vh 0.4vh 0.4vh grey;
    cursor: pointer;
    transition: 0.4s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    padding-top: 0;
}
.content1:hover{
    height: 100%;
    width: 20%;
}
.content1 div{
    width: 100%;
}
    .pakan1{
        width: 100%;
    }
    .content-nama1{
        height: 5%;
        display: flex;
        align-items: center;
    }
    .content-nama1 p{
        color: #89AA3A;
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }
    .content-desc1{
        font-size: 0.5rem;
        color: #9A9A9A;
    }
.co-desc1{
    top: 55vh;
    position: relative;
    width: 100%;
}
.img-desc1{
    width: 100%;
}
.text-desc1{
    padding: 15vh;
    padding-top: 0;
}
.text-desc1 p{
    color: #9A9A9A;
    font-size: 1rem;
}
/* end body1 */

/* Footer1 */
.footer1{
    width: 100%;
    height: 20vh;
    background-color: #ABB066;
    position: relative;
    top: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.co-footer1{
    width: 75%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
    .co-link1{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }
        .link1-1{
            width: 22.5%;
            height: 100%;
        }
        .link1{
            width: 15%;
            height: 100%;
            margin-left: 1vh;
            margin-right: 1vh;
        }
        .subco-link1{
            width: 100%;
            height: 45%;
            margin-bottom: 0.7vh;
        }
        .headlink1{
            color: white;
            font-size: 0.8rem;
            margin: 0;
            margin-bottom: 0.2vh;
        }
        .listlink1{
            color: white;
            font-size: 0.5rem;
            margin: 0;
        }
    .co-line1{
        display: flex;
        align-items: center;
    }
        .co-line1 img{
            width: 100%;
            margin: 0;
        }
    .co-socialmedia1{
        display: flex;
        align-items: center;
        height: 19%;
    }
        .img-socialmedia1{
            width: 2vh;
            height: 2vh;
            margin-left: 0.2vh;
            margin-right: 0.2vh;
        }
/* end footer1 */